* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-primary {
  color: #FE7743;
}

.bg-primary {
  background-color: #FE7743;
}

.text-hover-primary:hover {
  color: #FE7743;
}

.bg-hover-primary:hover {
  background-color: #FE7743;
}

.border-primary {
  border-color: #FE7743;
}

.border-hover-primary:hover {
  border-color: #FE7743;
}

.text-secondary {
  color: #273F4F;
}

.bg-secondary {
  background-color: #273F4F;
}

.text-hover-secondary:hover {
  color: #273F4F;
}

.bg-hover-secondary:hover {
  background-color: #273F4F;
}

.border-secondary {
  border-color: #273F4F;
}

.border-hover-secondary:hover {
  border-color: #273F4F;
}

.text-danger {
  color: #ED1944;
}

.bg-danger {
  background-color: #ED1944;
}

.text-hover-danger:hover {
  color: #ED1944;
}

.bg-hover-danger:hover {
  background-color: #ED1944;
}

.border-danger {
  border-color: #ED1944;
}

.border-hover-danger:hover {
  border-color: #ED1944;
}

.text-success {
  color: #30ff94;
}

.bg-success {
  background-color: #30ff94;
}

.text-hover-success:hover {
  color: #30ff94;
}

.bg-hover-success:hover {
  background-color: #30ff94;
}

.border-success {
  border-color: #30ff94;
}

.border-hover-success:hover {
  border-color: #30ff94;
}

.text-warning {
  color: #FFEB00;
}

.bg-warning {
  background-color: #FFEB00;
}

.text-hover-warning:hover {
  color: #FFEB00;
}

.bg-hover-warning:hover {
  background-color: #FFEB00;
}

.border-warning {
  border-color: #FFEB00;
}

.border-hover-warning:hover {
  border-color: #FFEB00;
}

.text-info {
  color: #47ffff;
}

.bg-info {
  background-color: #47ffff;
}

.text-hover-info:hover {
  color: #47ffff;
}

.bg-hover-info:hover {
  background-color: #47ffff;
}

.border-info {
  border-color: #47ffff;
}

.border-hover-info:hover {
  border-color: #47ffff;
}

.text-dark {
  color: #363535;
}

.bg-dark {
  background-color: #363535;
}

.text-hover-dark:hover {
  color: #363535;
}

.bg-hover-dark:hover {
  background-color: #363535;
}

.border-dark {
  border-color: #363535;
}

.border-hover-dark:hover {
  border-color: #363535;
}

.text-light {
  color: #dedede;
}

.bg-light {
  background-color: #dedede;
}

.text-hover-light:hover {
  color: #dedede;
}

.bg-hover-light:hover {
  background-color: #dedede;
}

.border-light {
  border-color: #dedede;
}

.border-hover-light:hover {
  border-color: #dedede;
}

.text-grey {
  color: #4C585B;
}

.bg-grey {
  background-color: #4C585B;
}

.text-hover-grey:hover {
  color: #4C585B;
}

.bg-hover-grey:hover {
  background-color: #4C585B;
}

.border-grey {
  border-color: #4C585B;
}

.border-hover-grey:hover {
  border-color: #4C585B;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

.bg-hover-white:hover {
  background-color: #fff;
}

.border-white {
  border-color: #fff;
}

.border-hover-white:hover {
  border-color: #fff;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-hover-black:hover {
  color: #000;
}

.bg-hover-black:hover {
  background-color: #000;
}

.border-black {
  border-color: #000;
}

.border-hover-black:hover {
  border-color: #000;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
}

.btn-primary {
  color: black;
  background-color: #FE7743;
}
.btn-primary:hover {
  background-color: rgba(254, 119, 67, 0.6);
}

.btn-secondary {
  color: white;
  background-color: #273F4F;
}
.btn-secondary:hover {
  background-color: rgba(39, 63, 79, 0.6);
}

.btn-danger {
  color: white;
  background-color: #ED1944;
}
.btn-danger:hover {
  background-color: rgba(237, 25, 68, 0.6);
}

.btn-success {
  color: black;
  background-color: #30ff94;
}
.btn-success:hover {
  background-color: rgba(48, 255, 148, 0.6);
}

.btn-warning {
  color: black;
  background-color: #FFEB00;
}
.btn-warning:hover {
  background-color: rgba(255, 235, 0, 0.6);
}

.btn-info {
  color: black;
  background-color: #47ffff;
}
.btn-info:hover {
  background-color: rgba(71, 255, 255, 0.6);
}

.btn-dark {
  color: white;
  background-color: #363535;
}
.btn-dark:hover {
  background-color: rgba(54, 53, 53, 0.6);
}

.btn-light {
  color: black;
  background-color: #dedede;
}
.btn-light:hover {
  background-color: rgba(222, 222, 222, 0.6);
}

.btn-grey {
  color: white;
  background-color: #4C585B;
}
.btn-grey:hover {
  background-color: rgba(76, 88, 91, 0.6);
}

.btn-white {
  color: black;
  background-color: #fff;
}
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.btn-black {
  color: white;
  background-color: #000;
}
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-outline-primary {
  color: #FE7743;
  background-color: transparent;
  border: 1px solid #FE7743;
}
.btn-outline-primary:hover {
  background-color: #FE7743;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-secondary {
  color: #273F4F;
  background-color: transparent;
  border: 1px solid #273F4F;
}
.btn-outline-secondary:hover {
  background-color: #273F4F;
  color: white;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-danger {
  color: #ED1944;
  background-color: transparent;
  border: 1px solid #ED1944;
}
.btn-outline-danger:hover {
  background-color: #ED1944;
  color: white;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-success {
  color: #30ff94;
  background-color: transparent;
  border: 1px solid #30ff94;
}
.btn-outline-success:hover {
  background-color: #30ff94;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-warning {
  color: #FFEB00;
  background-color: transparent;
  border: 1px solid #FFEB00;
}
.btn-outline-warning:hover {
  background-color: #FFEB00;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-info {
  color: #47ffff;
  background-color: transparent;
  border: 1px solid #47ffff;
}
.btn-outline-info:hover {
  background-color: #47ffff;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-dark {
  color: #363535;
  background-color: transparent;
  border: 1px solid #363535;
}
.btn-outline-dark:hover {
  background-color: #363535;
  color: white;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-light {
  color: #dedede;
  background-color: transparent;
  border: 1px solid #dedede;
}
.btn-outline-light:hover {
  background-color: #dedede;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-grey {
  color: #4C585B;
  background-color: transparent;
  border: 1px solid #4C585B;
}
.btn-outline-grey:hover {
  background-color: #4C585B;
  color: white;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: black;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.btn-outline-black {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
.btn-outline-black:hover {
  background-color: #000;
  color: white;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.1 0.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.column {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-1 {
  flex: 0 0 8.3333333333%;
  max-width: 0 0 8.3333333333%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-2 {
  flex: 0 0 16.6666666667%;
  max-width: 0 0 16.6666666667%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-3 {
  flex: 0 0 25%;
  max-width: 0 0 25%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-4 {
  flex: 0 0 33.3333333333%;
  max-width: 0 0 33.3333333333%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-5 {
  flex: 0 0 41.6666666667%;
  max-width: 0 0 41.6666666667%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-6 {
  flex: 0 0 50%;
  max-width: 0 0 50%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-7 {
  flex: 0 0 58.3333333333%;
  max-width: 0 0 58.3333333333%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-8 {
  flex: 0 0 66.6666666667%;
  max-width: 0 0 66.6666666667%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-9 {
  flex: 0 0 75%;
  max-width: 0 0 75%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-10 {
  flex: 0 0 83.3333333333%;
  max-width: 0 0 83.3333333333%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-11 {
  flex: 0 0 91.6666666667%;
  max-width: 0 0 91.6666666667%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-12 {
  flex: 0 0 100%;
  max-width: 0 0 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.rowflex {
  flex-direction: row;
}

.flex-row-revers {
  flex-direction: row-reverse;
}

.column-flex {
  flex-direction: column;
}

.column-revers-flex {
  flex-direction: column-reverse;
}

.wrap-flex {
  flex-wrap: wrap;
}

.nowrap-flex {
  flex-wrap: nowrap;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-item-stretch {
  align-items: stretch;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: start;
}

.align-item-end {
  align-items: end;
}

.-shrink-flex-grow-0 {
  flex-shrink: 0;
}

.shrink-flex-grow-1 {
  flex-shrink: 1;
}

.shrink-flex-grow-2 {
  flex-shrink: 2;
}

/*# sourceMappingURL=style.css.map */
