@use "variables" as *;

@each $color , $value in $colors {
    .text-#{$color} {
        color: $value;
    }

    .bg-#{$color} {
        background-color: $value;
    }

    .text-hover-#{$color} {
        &:hover {
            color: $value;
        }
    }

    .bg-hover-#{$color}:hover {
        background-color: $value;
    }
}